     h1.invert > a,
     h1.invert,
     h1.invert:before {
       color: #fff;
       background: #444;
       margin: 1em -10%;
       padding: 0 10%;
       line-height:  0.8;
       }
     h1.invert:before {
       position: relative;
       display: block;
       height: 0.2em;
       content: " ";
       width: 100%;
       top: 1em;
       background: #000;
       z-index: -1;
       margin: 0 -10%;
       }
     h1.invert > a {
       display: block;
       color: #ffa;
       width: 100%;
       margin: 0 -10%;
       }
     h1.invert > a:hover {
       background: #222;
       }